<div class="d-flex align-items-center justify-content-center" id="loading">
    <img src="assets/images/animations/Dual-Ball-1s-200px.svg" style="width: 60px; height:60px;">
</div>

<div id="flash_message_success" class="admission_success"><i class="fas fa-check"></i> Votre Admission a été envoyé</div>


<div class="body-inner">
    <!-- Header -->
    <header id="header" data-fullwidth="true">
        <div class="header-inner">
            <div class="container">
                <!--Logo-->
                <div id="logo">
                    <a routerLink="/home">
                        <img src="assets/images/logo.png" class="logo-default">
                    </a>
                </div>
                <!--End: Logo-->
                <!--Header Extras-->
                <app-language></app-language>
                <!--end: Header Extras-->
                <!--Navigation Resposnive Trigger-->
                <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
                <!--end: Navigation Resposnive Trigger-->
                <!--Navigation-->
                <app-menu></app-menu>
                <!--end: Navigation-->
            </div>
        </div>
    </header>
    <!-- end: Header -->
    <!-- Inspiro Slider -->
    <div id="slider" class="inspiro-slider dots-creative" data-height-xs="260">
        <!-- Slide 2 -->
        <div class="slide kenburns" style="background-image:url('assets/images/formations/ata.jpg');">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="slide-captions text-center text-light">
                    <!-- Captions -->
                    <h1>{{ 'admission.title'|translate }}</h1>
                    <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 2 -->

    </div>
    <!--end: Inspiro Slider -->


    <section>
        <div class="container">
            <div class="heading-text heading-section text-center">
                <h2>{{ 'admission.begin'|translate }}</h2>
            </div>

        </div>
    </section>

    <div id="form" class="container">
        <form id="regForm" [formGroup]="admissionForm" (ngSubmit)="submitAdmission()" method="post" action=""autocomplete="off">
            <!-- One "tab" for each step in the form: -->
            <div class="tab">

                {{ 'admission.select_prog'|translate }}:
                <p>
                    <select formControlName="program" id="monselect">
                        <option *ngFor="let p of programs" value="{{p.code}}" value="valeur1">{{ p.name }} </option>
                    </select>
                </p>

                {{ 'admission.re-entry'|translate }}:
                <p>
                    <select formControlName="concours" id="monselect">
                        <option *ngFor="let d of dateComp" value="{{d.code}}" value="valeur1">{{ d.name }} </option>
                    </select>
                </p>


            </div>
            <div class="tab">
                <h4>{{ 'admission.personal_info'|translate }} </h4>
                {{ 'admission.fullname'|translate }}:
                <p><input formControlName="fname" placeholder="{{ 'admission.fullname'|translate }}" oninput="this.className = ''" name="name"></p>

                {{ 'admission.email'|translate }}:
                <p><input formControlName="email" placeholder="{{ 'admission.email'|translate }}:" oninput="this.className = ''" name="email"></p>

                {{ 'admission.phone'|translate }}:
                <p><input formControlName="phone" placeholder="{{ 'admission.phone'|translate }}" oninput="this.className = ''" name="phone"></p>

                {{ 'admission.sexe'|translate }}:
                <p>
                    <select formControlName="sexe" id="monselect">
                        <option *ngFor="let p of dateComp" value="M" value="valeur1">Masculin </option>
                        <option *ngFor="let p of dateComp" value="F" value="valeur1">Féminin </option>
                    </select>
                </p>


                {{ 'admission.age'|translate }}:
                <p><input formControlName="age" placeholder="{{ 'admission.age'|translate }}" oninput="this.className = ''" type="number" name="age"></p>


            </div>
            <div class="tab">

                <h4>{{ 'admission.etude'|translate }}</h4>

                {{ 'admission.diplome'|translate }}:
                <p>
                    <select formControlName="diplome" id="monselect">
                        <option *ngFor="let n of nEtude" value="{{n.code}}" value="valeur1">{{ n.name }} </option>
                    </select>
                </p>

            </div>
            <div class="tab">
                <h4> {{ 'admission.choice_center'|translate }} </h4>
                
                {{ 'admission.center'|translate }}:
                <p>
                    <select formControlName="center" id="monselect">
                        <option *ngFor="let p of dateComp" value="M" value="yde">Yaoundé - Mballa 2 </option>
                        <option *ngFor="let p of dateComp" value="F" value="dla">Douala - Immeuble Dekage </option>
                    </select>
                </p>

                <p>
                    <input  oninput="this.className = ''"  required formControlName="cF" type="checkbox" id="cF" name="vehicle1" value="true">
                    &nbsp;<label for="vehicle1"> {{ 'admission.confirm_admission'|translate }}</label><br>
                </p>


            </div>
            <div style="overflow:auto;">
                <div style="float:right;">
                    <button type="button" id="prevBtn" onclick="nextPrev(-1)">{{ 'admission.prev'|translate }}</button>
                    &nbsp;
                    <button type="button" id="nextBtn" onclick="nextPrev(1)">{{ 'admission.next'|translate }}</button>
                    <button [disabled]="admissionForm.invalid" id="submit" type="submit" style="display: none;" > {{ 'admission.submit'|translate }}</button>

                </div>
            </div>
            <!-- Circles which indicates the steps of the form: -->
            <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
            </div>
        </form>
    </div>

    <app-footer></app-footer>
    <!-- end: Footer -->
</div> <!-- end: Body Inner -->
<!-- Scroll top -->
<app-scroll-top></app-scroll-top>