<div class="d-flex align-items-center justify-content-center" id="loading">
    <img src="assets/images/animations/Dual-Ball-1s-200px.svg" style="width: 60px; height:60px;">
</div>

<div id="flash_message_success" class="admission_success"><i class="fas fa-check"></i> Votre Admission a été envoyé
</div>


<div class="body-inner">
    <!-- Header -->
    <header id="header" data-fullwidth="true">
        <div class="header-inner">
            <div class="container">
                <!--Logo-->
                <div id="logo">
                    <a routerLink="/home">
                        <img src="assets/images/logo.png" class="logo-default">
                    </a>
                </div>
                <!--End: Logo-->
                <!--Header Extras-->
                <app-language></app-language>
                <!--end: Header Extras-->
                <!--Navigation Resposnive Trigger-->
                <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
                <!--end: Navigation Resposnive Trigger-->
                <!--Navigation-->
                <app-menu></app-menu>
                <!--end: Navigation-->
            </div>
        </div>
    </header>
    <!-- end: Header -->
    <!-- Inspiro Slider -->
    <div id="slider" class="inspiro-slider dots-creative" data-height-xs="260">
        <!-- Slide 2 -->
        <div class="slide kenburns" style="background-image:url('assets/images/formations/ata.jpg');">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="slide-captions text-center text-light">
                    <!-- Captions -->
                    <h1>{{ 'admission.title'|translate }}</h1>
                    <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 2 -->

    </div>
    <!--end: Inspiro Slider -->

    <div *ngIf="!admissionConfirmation">

        <section>
            <div class="container">
                <div class="heading-text heading-section text-center">
                    <h2>{{ 'admission.begin'|translate }}</h2>

                    NB : {{ 'admission.nb'|translate }}

                </div>

            </div>
        </section>

        <div *ngIf="isLoadingForm" class="loadingForm">
            <img src="assets/images/animations/Rolling-1s-200px.svg" alt="">
        </div>

        <div *ngIf="!isLoadingForm" id="form" class="container">
            <form [formGroup]="admissionForm" (ngSubmit)="submitAdmission()" method="post" autocomplete="off">
                <!-- One "tab" for each step in the form: -->

                <h4>Programme </h4>


                {{ 'admission.select_prog'|translate }}<span class="star_required">*</span>
                <p>
                    <select required formControlName="program" id="monselect">
                        <option *ngFor="let p of programs" value="{{p.name}}">{{ p.name }} </option>
                    </select>
                </p>

                {{ 'admission.re-entry'|translate }}<span class="star_required">*</span>
                <p>
                    <select required formControlName="concours" id="monselect" [(ngModel)]="selectedCompetition">
                        <option value="{{competitions?.name}}">{{ competitions?.name }} </option>
                    </select>
                </p>



                <h4>{{ 'admission.personal_info'|translate }} </h4>
                {{ 'admission.fullname'|translate }}<span class="star_required">*</span>
                <p><input required formControlName="fname" placeholder="{{ 'admission.fullname'|translate }}"
                        name="name"></p>

                {{ 'admission.email'|translate }}<span class="star_required">*</span>
                <p><input required formControlName="email" placeholder="{{ 'admission.email'|translate }}:"
                        name="email"></p>

                {{ 'admission.phone'|translate }}<span class="star_required">*</span>
                <p><input required formControlName="phone" placeholder="{{ 'admission.phone'|translate }}" name="phone">
                </p>

                {{ 'admission.sexe'|translate }}<span class="star_required">*</span>
                <p>
                    <select required formControlName="sexe" id="monselect">
                        <option value="M">Masculin </option>
                        <option value="F">Féminin </option>
                    </select>
                </p>

                {{ 'admission.age'|translate }}<span class="star_required">*</span>
                <p><input required formControlName="age" placeholder="{{ 'admission.age'|translate }}" type="number"
                        name="age"></p>

                {{ 'admission.ville'|translate }}<span class="star_required">*</span>
                <p><input required formControlName="ville" placeholder="{{ 'admission.ville'|translate }}" name="ville">
                </p>


                <h4>{{ 'admission.etude'|translate }}</h4>

                {{ 'admission.diplome'|translate }}<span class="star_required">*</span>
                <p>
                    <select required formControlName="diplome" id="monselect">
                        <option *ngFor="let n of nEtude" value="{{n.name}}">{{ n.name }} </option>
                    </select>
                </p>


                <h4> {{ 'admission.choice_center'|translate }} </h4>

                {{ 'admission.center'|translate }}<span class="star_required">*</span>
                <p>
                    <select required formControlName="center" id="monselect">
                        <option value="Yaoundé - Mballa 2">Yaoundé - Mballa 2 </option>
                        <option value="Douala - Immeuble Dekage">Douala - Immeuble Dekage

                        </option>
                        <option value="Yaoundé - Mballa 2">Bafoussam - Institut Supérieur Tankou. </option>

                    </select>
                </p>

                <p class="confirmationForm">
                    <input required oninput="this.className = ''" required formControlName="cF" type="checkbox" id="cF"
                        name="cF" value="true">
                    &nbsp;<label (click)="clickConfirmationForm()" for="vehicle1"> {{
                        'admission.confirm_admission'|translate }}</label><br>
                </p>



                <button [disabled]="admissionForm.invalid" type="submit"> {{
                    'admission.submit'|translate }}</button>


                <!-- Circles which indicates the steps of the form: -->
                <div style="text-align:center;margin-top:40px;">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
            </form>
        </div>

    </div>


    <section *ngIf="admissionConfirmation" class="admission_confirmation">
        <div class="container">
            <div class="heading-text heading-section text-center">
                <h2> <img src="assets/images/forms/success/check.png" alt="check" class="check"> {{
                    'admission.admission_sent'|translate }}
                </h2>
            </div>

            <p>
                {{ 'admission.check_mail'|translate}}
                Veuillez consulter vos mails afin de voir le récapitulatif de vos informations transmises à
                l'administration
            </p>
            <br>
            <button type="button" routerLink="/formation" class="btn btn-dark">{{ 'formation.title'|translate
                }}</button>


        </div>
    </section>



    <app-footer></app-footer>
    <!-- end: Footer -->
</div> <!-- end: Body Inner -->
<!-- Scroll top -->
<app-scroll-top></app-scroll-top>