<div class="body-inner">
    <!-- Header -->
    <header id="header" data-fullwidth="true">
        <div class="header-inner">
            <div class="container">
                <!--Logo-->
                <div id="logo">
                    <a routerLink="/home">
                        <img src="assets/images/logo.png" class="logo-default">
                    </a>
                </div>
                <!--End: Logo-->
                <!--Header Extras-->
                <app-language></app-language>
                <!--end: Header Extras-->
                <!--Navigation Resposnive Trigger-->
                <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
                <!--end: Navigation Resposnive Trigger-->
                <!--Navigation-->
                <app-menu></app-menu>
                <!--end: Navigation-->
            </div>
        </div>
    </header>
    <!-- end: Header -->

    <section id="page-title">
        <div class="container">
            <div class="page-title">
                <h1>{{ 'pilote.programme'|translate }}</h1>
                <span>{{ 'pilote.title'|translate }}.</span>
            </div>
            <div class="breadcrumb">
                <ul>
                    <li><a routerLink="/">Home</a> </li>
                    <li><a routerLink="/formation">Formations</a> </li>
                    <li class="active"><a routerLink="/program-pilote">Pilote</a> </li>
                </ul>
            </div>
        </div>
    </section>


    <section id="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--Heading text-->
                    <div class="heading-text heading-line">
                        <h4>Diplôme d'études collégiales en Techniques de pilotage d’aéronefs
                            ATPL intégré (Collège Air Richelieu)</h4>
                        <p>
                            <span style="font-weight: 600;">Condition d’admission</span> <br>
                            Avoir réussi les cours de mathématiques (TS ou SN) et de physique du 5ᵉ secondaire ou
                            équivalent
                        </p>
                    </div>
                    <!--end: Heading text-->
                </div>
            </div>
            <div class="row">
                <div class="content col-lg-7">
                    <!-- Timeline -->
                    <h4>Licences & Qualifications</h4>
                    <ul class="timeline">
                        <!--Timeline item-->
                        <li class="timeline-item">
                            <div class="timeline-icon">1</div>
                            <h4>Licence de pilote privé PPL</h4>

                        </li>
                        <!--end: Timeline item-->
                        <!--Timeline item-->
                        <li class="timeline-item">
                            <div class="timeline-icon">2</div>
                            <h4>Licence de pilote professionnel CPL</h4>

                        </li>
                        <!--end: Timeline item-->
                        <!--Timeline item-->
                        <li class="timeline-item">
                            <div class="timeline-icon">3</div>
                            <h4>Qualification vol aux instruments IR / Annotation multi
                                moteurs ME</h4>
                        </li>
                        <!--end: Timeline item-->
                        <!--Timeline item-->
                        <li class="timeline-item">
                            <div class="timeline-icon">4</div>
                            <h4>Formation au travail en équipage MCC (Multi Crew coordination)
                            </h4>

                        </li>

                        <li class="timeline-item">
                            <div class="timeline-icon">5</div>
                            <h4>Licence de pilote de ligne (SARON et SAMRA) (FROZEN ATPL)</h4>

                        </li>
                        <!--end: Timeline item-->
                    </ul>
                </div>
                <div class="content parcours col-lg-5">
                    <ul class="timeline">
                        <!--Timeline item-->
                        <li class="timeline-item">
                            <div class="timeline-icon"><i class="icon-book-open"></i></div>
                            <h4>1860H de cours techniques</h4>

                        </li>
                        <!--end: Timeline item-->
                        <!--Timeline item-->
                        <li class="timeline-item">
                            <div class="timeline-icon"><i class="icon-send"></i></div>
                            <h4>185H de vol</h4>
                        </li>
                        <!--end: Timeline item-->
                        <!--Timeline item-->
                        <li class="timeline-item">
                            <div class="timeline-icon"><i class="icon-monitor"></i></div>
                            <h4>80H de simulateur
                            </h4>

                        </li>

                        <li class="timeline-item">
                            <div class="timeline-icon"><i class="icon-book"></i></div>
                            <h4>660H de cours généraux</h4>
                        </li>

                        <li class="timeline-item">
                            <div class="timeline-icon"><i class="icon-calendar"></i></div>
                            <h4>24 à 40 mois</h4>
                        </li>
                        <!--end: Timeline item-->
                    </ul>

                </div>
            </div>
            <div class="line"></div>
            <div class="row">
                <p>
                    <span style="font-weight: 600; font-size: 20px; color: black;">Diplôme et immigration</span> <br>
                    Diplôme délivré par le ministère de l’Enseignement supérieur du Québec, et donnant accès à un permis
                    de travail post diplôme d’une durée de vos études ainsi qu’au programme du CSQ (certificat de
                    sélection du Québec) pour l’obtention de la résidence permanente.
                </p>

                <button routerLink="/contact" class="btn btn-rounded">Prendre Rendez-vous</button>

            </div>

        </div>

        </section>

        <section id="page-content">


        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--Heading text-->
                    <div class="heading-text heading-line">
                        <h4>Attestation d'études collégiales de pilote de ligne ATPL intégré (Collège Air Richelieu)</h4>
                        <p>
                            <span style="font-weight: 600;">Condition d’admission</span> <br>
                            Avoir obtenu un diplôme d’études secondaires Baccalaureat ou équivalent.
                        </p>
                    </div>
                    <!--end: Heading text-->
                </div>
            </div>
            <div class="row">
                <div class="content col-lg-7">
                    <!-- Timeline -->
                    <h4>Licences & Qualifications</h4>
                    <ul class="timeline">
                        <!--Timeline item-->
                        <li class="timeline-item">
                            <div class="timeline-icon">1</div>
                            <h4>Licence de pilote privé PPL</h4>

                        </li>
                        <!--end: Timeline item-->
                        <!--Timeline item-->
                        <li class="timeline-item">
                            <div class="timeline-icon">2</div>
                            <h4>Licence de pilote professionnel CPL</h4>

                        </li>
                        <!--end: Timeline item-->
                        <!--Timeline item-->
                        <li class="timeline-item">
                            <div class="timeline-icon">3</div>
                            <h4>Qualification vol aux instruments IR / Annotation multi
                                moteurs ME</h4>
                        </li>
                        <!--end: Timeline item-->
                        <!--Timeline item-->
                        <li class="timeline-item">
                            <div class="timeline-icon">4</div>
                            <h4>Formation au travail en équipage MCC (Multi Crew coordination)
                            </h4>

                        </li>

                        <li class="timeline-item">
                            <div class="timeline-icon">5</div>
                            <h4>Licence de pilote de ligne (SARON et SAMRA) (FROZEN ATPL)</h4>

                        </li>
                        <!--end: Timeline item-->
                    </ul>
                </div>
                <div class="content parcours col-lg-5">
                    <ul class="timeline">
                        <!--Timeline item-->
                        <li class="timeline-item">
                            <div class="timeline-icon"><i class="icon-book-open"></i></div>
                            <h4>1320H de cours techniques</h4>

                        </li>
                        <!--end: Timeline item-->
                        <!--Timeline item-->
                        <li class="timeline-item">
                            <div class="timeline-icon"><i class="icon-send"></i></div>
                            <h4>185H de vol</h4>
                        </li>
                        <!--end: Timeline item-->
                        <!--Timeline item-->
                        <li class="timeline-item">
                            <div class="timeline-icon"><i class="icon-monitor"></i></div>
                            <h4>80H de simulateur
                            </h4>

                        </li>

                        <li class="timeline-item">
                            <div class="timeline-icon"><i class="icon-book"></i></div>
                            <h4>Bilingue Anglais & Français</h4>
                        </li>

                        <li class="timeline-item">
                            <div class="timeline-icon"><i class="icon-calendar"></i></div>
                            <h4>20 à 26 mois</h4>
                        </li>
                        <!--end: Timeline item-->
                    </ul>

                </div>
            </div>
            <div class="line"></div>
            <div class="row">
                <p>
                    <span style="font-weight: 600; font-size: 20px; color: black;">Diplôme et immigration</span> <br>
                    Attestation d’études collégiales délivrée par le Collège Air Richelieu et reconnue par le ministère de l’Enseignement supérieur du Québec, et donnant accès à un permis de travail post diplôme d’une durée de vos études.
                </p>

                <button routerLink="/contact" class="btn btn-rounded">Prendre Rendez-vous pour plus d'informations</button>

            </div>

        </div>

    </section>

    <section class="background-colored">
        <div id="particles-dots" class="particles"></div>
        <div class="container">
            <div class="heading-text text-light text-center">
               
                <img src="assets/images/formations/air-richelieu-home.png" alt=""><br><br>
                <p>
                Ces formations de pilote de ligne se déroulent au sein du Collège AirRichelieu situé au Canada dans la Ville de Longueuil 
                </p>
            </div>
        </div>
    </section>





    <app-footer></app-footer>
    <!-- end: Footer -->
</div> <!-- end: Body Inner -->
<!-- Scroll top -->
<app-scroll-top></app-scroll-top>