.content .timeline h4{
    font-weight: 300;
    font-size: 15px;
}

.parcours ul li{
    font-size: 15px;
    font-weight: 300;
}

.parcours{
    margin-top: 30px;
}

.background-colored{
    background-color: black;
}