<div id="mainMenu">
    <div class="container">
        <nav>
            <ul>
                <li routerLinkActive="active"><a routerLink="/home">{{ 'nav.home' | translate }}</a></li>
                <li routerLinkActive="active"><a routerLink="/formation">{{ 'nav.formation' | translate }}</a></li>
                <li routerLinkActive="active"><a routerLink="/submission">{{ 'nav.submission' | translate }}</a></li>
                <li routerLinkActive="active"><a routerLink="/about">{{ 'nav.about' | translate }}</a></li>
                <li routerLinkActive="active"><a routerLink="/contact">{{ 'nav.contact' | translate }}</a></li>
                <li routerLinkActive="active"><a routerLink="/news">{{ 'news.title' | translate }}</a></li>

            </ul>
        </nav>
    </div>
</div>