<div id="mainMenu">
    <div class="container">
        <nav>
            <ul>
                <li routerLinkActive="active"><a routerLink="/home">{{ 'nav.home' | translate }}</a></li>
                <li routerLinkActive="active"><a routerLink="/formation">{{ 'nav.formation' | translate }}</a></li>
                <li routerLinkActive="active"><a routerLink="/submission">{{ 'nav.submission' | translate }}</a></li>
                <li routerLinkActive="active"><a routerLink="/about">{{ 'nav.about' | translate }}</a>
                </li>
                <li routerLinkActive="active"><a routerLink="/contact">{{ 'nav.contact' | translate }}</a></li>
                <li routerLinkActive="active" *ngIf="isLoggedIn"><a routerLink="/news">{{ 'news.title' | translate
                        }}</a></li>
                <li style="cursor: pointer;" *ngIf="!isLoggedIn"><a routerLink="/login" title="">{{ 'nav.login' |
                        translate }}</a></li>
                <li routerLinkActive="active" *ngIf="isLoggedIn"><a (click)="logout()">{{ 'nav.logout' | translate
                        }}</a></li>

            </ul>
        </nav>
    </div>
</div>