<div class="body-inner">
    <!-- Header -->
    <header id="header" data-fullwidth="true">
        <div class="header-inner">
            <div class="container">
                <!--Logo-->
                <div id="logo">
                    <a routerLink="/home">
                        <img src="assets/images/logo.png" class="logo-default">
                    </a>
                </div>
                <!--End: Logo-->
                <!--Header Extras-->
                <app-language></app-language>
                <!--end: Header Extras-->
                <!--Navigation Resposnive Trigger-->
                <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
                <!--end: Navigation Resposnive Trigger-->
                <!--Navigation-->
                <app-menu></app-menu>
                <!--end: Navigation-->
            </div>
        </div>
    </header>
    <!-- end: Header -->
    <!-- Inspiro Slider -->
    <div id="slider" class="inspiro-slider dots-creative" data-height-xs="360">
        <!-- Slide 2 -->
        <div class="slide kenburns" style="background-image:url('assets/images/formations/ata.jpg');">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="slide-captions text-center text-light">
                    <!-- Captions -->
                    <h1>{{ 'formation.title'|translate }}</h1>
                    <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 2 -->

    </div>
    <!--end: Inspiro Slider -->


    <section>
        <div class="container">
            <div class="heading-text heading-section text-center">
                <h2>{{ 'service.what_we_do'|translate }}</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" src="../../../assets/images/formations/bg.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.ato'|translate }}</h5>
                                <p class="card-text">{{ 'formation.ato_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} :  09 mois </small>
                            </div>
                            
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="../../../assets/images/formations/IATA_DG.png"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.md'|translate }}</h5>
                                <p class="card-text">{{ 'formation.md_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : Max 70 heures </small>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="../../../assets/images/formations/ha.jpeg"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.ha'|translate }}</h5>
                                <p class="card-text">{{ 'formation.ha_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 03 mois</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" src="../../../assets/images/formations/fret.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.frêt'|translate }}</h5>
                                <p class="card-text">{{ 'formation.frêt_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 105 heures </small>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="../../../assets/images/formations/aie.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.aie'|translate }}</h5>
                                <p class="card-text">{{ 'formation.aie_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 105 heures </small>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="../../../assets/images/formations/cc.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ 'formation.cc'|translate }}</h5>
                                <p class="card-text">{{ 'formation.cc_desc'|translate }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ 'formation.duree'|translate }} : 105 heures </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
            <div class="col-lg-12">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/formations/sc.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'formation.sc'|translate }}</h5>
                            <p class="card-text">{{ 'formation.sc_desc'|translate }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ 'formation.duree'|translate }} : 35 heures </small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/formations/ata.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'formation.ata'|translate }}</h5>
                            <p class="card-text">{{ 'formation.ata_desc'|translate }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ 'formation.duree'|translate }} : 105 heures </small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/formations/pv.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'formation.pv'|translate }}</h5>
                            <p class="card-text">{{ 'formation.pv_desc'|translate }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ 'formation.duree'|translate }} : 105 heures </small>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <br>


            <div class="row">
            <div class="col-lg-12">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/formations/bg.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'formation.ae'|translate }}</h5>
                            <p class="card-text">{{ 'formation.ae_desc'|translate }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ 'formation.duree'|translate }} : 105 heures </small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/formations/apa.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'formation.apa'|translate }}</h5>
                            <p class="card-text">{{ 'formation.apa_desc'|translate }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ 'formation.duree'|translate }} : 105 heures </small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/formations/bg.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'formation.ma'|translate }}</h5>
                            <p class="card-text">{{ 'formation.ma_desc'|translate }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ 'formation.duree'|translate }} : 105 heures</small>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <br>

            <div class="row">
            <div class="col-lg-12">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/formations/mta.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'formation.mta'|translate }}</h5>
                            <p class="card-text">{{ 'formation.mta_desc'|translate }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ 'formation.duree'|translate }} : 105 heures</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/formations/aea.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'formation.aea'|translate }}</h5>
                            <p class="card-text">{{ 'formation.aea_desc'|translate }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ 'formation.duree'|translate }} : 105 heures</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="../../../assets/images/formations/pd.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'formation.pd'|translate }}</h5>
                            <p class="card-text">{{ 'formation.pd_desc'|translate }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ 'formation.duree'|translate }} : 35 heures</small>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>






    <app-footer></app-footer>
    <!-- end: Footer -->
</div> <!-- end: Body Inner -->
<!-- Scroll top -->
<app-scroll-top></app-scroll-top>