<div class="body-inner">
    <!-- Header -->
    <header id="header" data-fullwidth="true">
        <div class="header-inner">
            <div class="container">
                <!--Logo-->
                <div id="logo">
                    <a routerLink="/home">
                        <img src="assets/images/logo.png" class="logo-default">
                    </a>
                </div>
                <!--End: Logo-->
                <!--Header Extras-->
                <app-language></app-language>
                <!--end: Header Extras-->
                <!--Navigation Resposnive Trigger-->
                <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
                <!--end: Navigation Resposnive Trigger-->
                <!--Navigation-->
                <app-menu></app-menu>
                <!--end: Navigation-->
            </div>
        </div>
    </header>
    <!-- end: Header -->
    <section id="page-content" class="sidebar-right">
        <div class="container">
            <div class="row">
                <!-- post content -->
                <div class="content col-lg-9">
                    <!-- Page title -->
                    <div class="page-title">
                        <div class="breadcrumb float-left">
                            <ul>
                                <li><a href="#">Accueill</a>
                                </li>
                                <li><a href="#">News</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end: Page title -->

                    <!-- Blog -->

                    
                    <div id="blog">
                        <!-- Post item-->

                        <div class="post-item">
                            <div class="post-item-wrap">
                                <div class="post-image">
                                        <img alt="" src="../../../assets/images/news/air_richelieu_conf.jpg">
                                    <span class="post-meta-category"><a href="">Réunion</a></span>
                                </div>
                                <div class="post-item-description">
                                    <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jun 19, 2021</span>
                                    <h2>Reunion entre le représentant du Collège Air Richelieu et Membres IRDSM AVIATION</h2>
                                    <p>Négociations d'un partenariat ... .</p>
                                </div>
                            </div>
                        </div>


                        <div class="post-item">
                            <div class="post-item-wrap">
                                <div class="post-video">
                                    
                                    <iframe src="https://www.youtube.com/embed/Rvn1L4yemuE" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    <span class="post-meta-category"><a href="">Video</a></span>
                                </div>
                                <div class="post-item-description">
                                    <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Avril 14, 2021</span>
                                    <h2>Sécurité des vols</h2>
                                    <p>écurité des vols, agir ensemble au sol - Respect de la hauteur de chargement en soute vrac
                                        Droit Auteur : Page Ministère de la Transition écologique France</p>
                                </div>
                            </div>
                        </div>


                        <div class="post-item">
                            <div class="post-item-wrap">
                                <div class="post-video">

                                    <iframe src="https://www.youtube.com/embed/nlfEAoaih1E" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    
                                    <span class="post-meta-category"><a href="">Notions</a></span>
                                </div>
                                <div class="post-item-description">
                                    <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Avril 05, 2021</span>
                                    <h2>Un peu de Culture</h2>
                                    <p>Quelques Astuces Pour Préparer Notre Concours.<br>
                                        Episode 1 : Comment un avion vole-t-il?<br>
                                        Droit Auteur : Page Youtube Uniscie
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- end: Post item-->
                        
                        <div class="post-item">
                            <div class="post-item-wrap">
                                <div class="post-image">
                                        <img alt="" src="../../../assets/images/news/ATE_Yde.jpg">
                                    <span class="post-meta-category"><a href="">Concours</a></span>
                                </div>
                                <div class="post-item-description">
                                    <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Mar 24, 2021</span>
                                    <h2>Concours ATE - 17 avril</h2>
                                    <p>Spécial Concours Agents Techniques D'Exploitation<br>
                                        C'est désormais possible de se former dans ce métier prestigieux des metiers de l'aviation civile grâce à nos accréditations IATA et CCAA. <br>
                                        Ne rate pas cette session unique d'intégrer notre école afin de pouvoir toi aussi devenir un aide pilote. <br>
                                        Lien de contact : https://forms.gle/7c7B9tHC8eEdpMT88 <br>
                                        Contact : Sur le Flyers</p>
                                </div>
                            </div>
                        </div>

                        <div class="post-item">
                            <div class="post-item-wrap">
                                <div class="post-image">
                                        <img alt="" src="../../../assets/images/news/MD_Yde.jpg">
                                    <span class="post-meta-category"><a href="">Concours</a></span>
                                </div>
                                <div class="post-item-description">
                                    <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Mar 24, 2021</span>
                                    <h2>Concours MD - 17 avril</h2>
                                    <p>Special Concours Marchandises Dangereuses Aéronautique IATA <br>
                                        Connu comme étant un domaine important de l'aviation,  la filière Marchandises Dangereuses a une multitude de débouchés. <br>
                                        Inscrit toi au séance d'orientation grâce au lien ci-dessous afin d'avoir un entretien avec nos experts en aviation civile. <br>
                                        Lieu de contact : https://forms.gle/LZoP5UN6wswbAUV66 <br>
                                        Tel : 698885161 / 673908319</p>
                                </div>
                            </div>
                        </div>

                        <div class="post-item">
                            <div class="post-item-wrap">
                                <div class="post-image">
                                        <img alt="" src="../../../assets/images/news/160100599_135366108499219_1828460204046950576_n.jpeg">
                                    <span class="post-meta-category"><a href="">Orientation</a></span>
                                </div>
                                <div class="post-item-description">
                                    <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Mar 10, 2021</span>
                                    <h2>Session d'orientation</h2>
                                    <p>Session d'orientation avec les candidats retenus pour la session du concours du 27 février. <br>
                                        Agissez toujours comme s’il était impossible d’échouer.</p>
                                </div>
                            </div>
                        </div>

                        <div class="post-item">
                            <div class="post-item-wrap">
                                <div class="post-image">
                                        <img alt="" src="../../../assets/images/news/IMG_7256.png">
                                    <span class="post-meta-category"><a href="">Agreement</a></span>
                                </div>
                                <div class="post-item-description">
                                    <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Mar 03, 2021</span>
                                    <h2>Session d'orientation</h2>
                                    <p>Renouvellement de notre agrément attribué par L'Autorité aéronautique du Cameroun. <br>
                                        www.kabin.eu.</p>
                                </div>
                            </div>
                        </div>

                        <div class="post-item">
                            <div class="post-item-wrap">
                                <div class="post-image">
                                        <img alt="" src="../../../assets/images/news/IMG_7258.png">
                                    <span class="post-meta-category"><a href="">Présentation </a></span>
                                </div>
                                <div class="post-item-description">
                                    <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Mar 01, 2021</span>
                                    <h2>Salle S002</h2>
                                    <p>La salle S002, Bien espacée, climatisée. <br>
                                        Les cours sont dispensés tout en respectant les mesures de distanciation.  <br>
                                        Date du Prochain Concours pour les Agents Techniques d'exploitation : 17 Avril 2021</p>
                                </div>
                            </div>
                        </div>


                        <div class="post-item">
                            <div class="post-item-wrap">
                                <div class="post-image">
                                        <img alt="" src="../../../assets/images/news/148547172_118476636854833_7194572172138744271_n.jpeg">
                                    <span class="post-meta-category"><a href="">Séances </a></span>
                                </div>
                                <div class="post-item-description">
                                    <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Fev 09, 2021</span>
                                    <h2>Séance administrative</h2>
                                    <p>Séance administrative avec les parents et remise des lettres d'admission aux candidats retenus pour la session d'examen d'entrée de janvier
                                        L’échec n’est qu’une opportunité pour recommencer la même chose plus intelligemment.</p>
                                </div>
                            </div>
                        </div>

                        <div class="post-item">
                            <div class="post-item-wrap">
                                <div class="post-image">
                                        <img alt="" src="../../../assets/images/news/143114619_114455850590245_1474220001282927273_n.jpeg">
                                    <span class="post-meta-category"><a href="">Séances </a></span>
                                </div>
                                <div class="post-item-description">
                                    <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 25, 2021</span>
                                    <h2>Concours de Aviation 23 Fevrier 2021</h2>
                                    <p>Vous ne trouverez jamais ce que vous ne cherchez pas.</p>
                                </div>
                            </div>
                        </div>

                        <div class="post-item">
                            <div class="post-item-wrap">
                                <div class="post-image">
                                        <img alt="" src="../../../assets/images/news/IMG_7257.png">
                                    <span class="post-meta-category"><a href="">Certificat </a></span>
                                </div>
                                <div class="post-item-description">
                                    <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 04, 2021</span>
                                    <h2>Certificat d'accréditation IATA</h2>
                                    <p>Nous sommes heureux de vous annoncer l'obtention de notre #certificat accréditation #IATA
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="post-item">
                            <div class="post-item-wrap">
                                <div class="post-image">
                                        <img alt="" src="../../../assets/images/news/172160534_486985115997613_4841312134860286604_n.jpeg">
                                    <span class="post-meta-category"><a href="">Politique </a></span>
                                </div>
                                <div class="post-item-description">
                                    <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Nov 07, 2020</span>
                                    <h2>Notre Politique de Qualité.</h2>
                                   
                                </div>
                            </div>
                        </div>



                    </div>
                    <!-- end: Blog -->
                    
                </div>
                <!-- end: post content -->
                <!-- Sidebar-->
                
                <!-- end: Sidebar-->
            </div>
        </div>
    </section> <!-- end: Content -->    

   <app-footer></app-footer>
    <!-- end: Footer -->
</div> <!-- end: Body Inner -->
<!-- Scroll top -->
<app-scroll-top></app-scroll-top>