<!-- CLIENTS -->
<section>
    <div class="container">
        <div class="heading-text heading-section text-center">
            <h2>{{ 'partner.title'|translate }}</h2>
        </div>

        <ul class="grid grid-5-columns">
            <li>
                <a href="https://ccaa.aero/" target="_blank"><img src="assets/images/clients/1.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://www.iata.org/en/training/" target="_blank"><img src="assets/images/clients/2.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://www.airrichelieu.com" target="_blank"><img src="assets/images/clients/3.png" alt="">
                </a>
            </li>
            <li>
                <a href="#"><img src="assets/images/clients/4.jpg"  alt="">
                </a>
            </li>
            
        </ul>

    </div>
</section>
<!-- CLIENTS -->